.sidebar-title {
    font-size: 25px;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .sidebar-title-Button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px; /* Match the font size with My Favourites */
    margin-bottom: 5px; /* Match the margin with My Favourites */
  }
  
  .sidebar-title-Button:hover{
    text-decoration: underline;
  }
  
  .breakfast{
    font-size: 10px;
    overflow-y: auto;
  }
  
  .type-of-meals{
    padding-left: 1.25rem;
    
  }
  
  .meals button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    font-size: 22px;
  }
  
  .meals button:hover {
    color: #5c5d5a;
  }