* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}

@font-face {
  font-family: "CustomFont";
  src: url("../../fonts/RolexLight.woff2");
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

.cover {
  background-color: rgb(253, 253, 253);
  width: 50%;
  max-height: 100%;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
  padding: 2rem;
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.alt-login div {
  width: 47.5%;
  height: 90%;
  border-radius: 0.25em;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.google {
  background-image: url("../../assets/google.png");
}

.facebook {
  background-image: url("../../assets/facebook.png");
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 80%;
  border-radius: 0.3em;
  text-align: center;
  padding: 15px;
  font-size: 0.75em;
  margin-bottom: 25px;
  margin-top: 25px;
}

.login-button {
  width: 40%;
  height: 3em;
  background-color: rgb(136, 179, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  margin-bottom: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.login-button:hover {
  transform: scale(1.05);
}

.text {
  position: relative;
  bottom: 0.5%;
}

.hide {
  position: absolute;
  transform: scale(0);
}

.blue {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/google.png");
}

/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 64em) {
  .page {
    font-size: 1.25em;
  }

  .cover {
    width: 25%;
    max-height: 75%; /* Adjust the max-height for desktop */
  }
}
