* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

.cover {
  background-color: rgb(253, 253, 253);
  width: 50%;
  max-height: 100%;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
  padding: 3rem;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 80%;
  border-radius: 0.3em;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.login-button {
  width: 80%;
  height: 3rem;
  font-size: 25px;
  background-color: rgb(136, 179, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  margin-bottom: 50px;
  margin-top: 25px;
  cursor: pointer;
}

.login-button:hover {
  transform: scale(1.05);
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 40px;
}

.google {
  width: 45%;
  height: 75%;
  border-radius: 0.25em;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.google {
  background-image: url("../../assets/google.png");
}

.signup-button{
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
}


/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 64em) {
  .page {
    font-size: 1.25em;
  }

  .cover {
    width: 25%;
    max-height: 75%; /* Adjust the max-height for desktop */
  }
}
